{{!
//    Change the Mustache delimiter from double curly braces to double dollar signs.
//    Dollar signs are allowed in EcmaScript identifier names,
//    which is helpful when running unrendered Mustache templates through eslint.
//}}{{=$$ $$=}}

$$capitalized_name$$ is a component design and is intended to be imported and use by across multiple designs.
It is **not** designed to be used standalone and should not be printed off by itself.

---
## How to import $$capitalized_name$$
---

To import $$capitalized_name$$ you.....

<fixMe Add how to import $$capitalized_name$$ design>

