{{!
//    Change the Mustache delimiter from double curly braces to double dollar signs.
//    Dollar signs are allowed in EcmaScript identifier names,
//    which is helpful when running unrendered Mustache templates through eslint.
//}}{{=$$ $$=}}

---
## $$capitalized_name$$ <fixMe: short description>: Fabric Options

<fixMe: Add Fabric Options>

#### Example Fabric

<Example of what fabrics to use Example Fabric>

#### Example Fabric 2

<Example of what fabrics to use for Example Fabric 2>

## $$capitalized_name$$ <fixMe: short description>: What you need

<fixMe: Add What you need>

- Basic sewing supplies
- About x - x metres (x - x yards) of a suitable **example** fabric ([see $$capitalized_name$$ Fabric Options](/docs/patterns/$$name$$/fabric/))
- (Optional) Example

## $$capitalized_name$$ <fixMe: short description>: Cutting Instructions

<fixMe: Add Cutting Instructions>

###### Example Fabric

- Cut **2 Example0 ** parts.
- Cut **1 Example1 ** part on fold.


###### Example Fabric 2

- Cut **1 Example1 ** part on fold.

## $$capitalized_name$$ <fixMe: short description>: Sewing Instructions

<fixMe: Add Sewing Instructions>

### Step 1: Example Header

- Example steps inside header.

#### Example Header inside Header

### Step 2: Example Header


### Step X: Enjoy!!!

<fixMe: Add Enjoy Step>